<link href="/App/Styles/style.css" rel="stylesheet" />
<div class="container" ng-controller='aboutController'>
    <h6><a ui-sref="home">Back to home</a></h6>
    <div>
        <h1>{{phoneInfo.name}}</h1>
        <img class="phone" src="/App/Image/mobile.jpg">
        <p>{{phoneInfo.description}}</p>

        <ul class="phone-thumbs">

        </ul>

        <ul class="specs">
            <li>
                <span>Availability and Networks</span>

            </li>
            <li>
                <span>Battery</span>

            </li>
            <li>
                <span>Storage and Memory</span>

            </li>
            <li>
                <span>Connectivity</span>

            </li>
            <li>
                <span>Android</span>

            </li>
            <li>
                <span>Size and Weight</span>

            </li>
            <li>
                <span>Display</span>

            </li>
            <li>
                <span>Hardware</span>

            </li>
            <li>
                <span>Camera</span>

            </li>
            <li>
                <span>Additional Features</span>

            </li>
        </ul>
        </phone-detail>
    </div>
</div>
