<link href="/App/Styles/style.css" rel="stylesheet" />
<div class="container" ng-controller='aboutController'>
	<h3><a ui-sref="home">Back to home</a></h3>
	<div>
		<h1>{{phoneInfo.name}}</h1>
		<img class="phone" src="/App/Image/mobile.jpg">
		<p>
			<h3>Description :</h3>{{phoneInfo.description}}</p>
	</div>

	<div class="container">
		<div class="box first" ng-click="getContaint($event)">
			<h4>Availability and Networks</h4>
			<ul ng-repeat="item in phoneInfo.battery">
				<li>
					{{item}}
				</li>
			</ul>

		</div>

		<div class="box second" ng-click="getContaint($event)">
			<h4>Battery</h4>

			<ul ng-repeat="item in phoneInfo.availability">
				<li>
					{{item}}
				</li>
			</ul>

		</div>

		<div class="box third" ng-click="getContaint($event)">
			<h4>Storage and Memory</h4>
			<ul ng-repeat="item in phoneInfo.storage">
				<li>
					{{item}}
				</li>
			</ul>


		</div>


	</div>
</div>
